<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visualizar Registros</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1>Registros dos Participantes</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Data</th>
            <th>Nome</th>
            <th>Estado</th>
            <th>Telefone</th>
            <th>Referência Vídeo</th>
            <th>Link do Arquivo</th>
            <th>Ações</th>
            <!-- Nova coluna -->
          </tr>
        </thead>
        <tbody>
          {% for entry in entries %}
          <tr>
            <td>{{ entry.data_envio }}</td>
            <td>{{ entry.nome }}</td>
            <td>{{ entry.estado }}</td>
            <td>{{ entry.telefone }}</td>
            <td>{{ entry.referencia_video }}</td>
            <td>
              <a href="{{ entry.link_arquivo }}" target="_blank">Ver Vídeo</a>
            </td>
            <td>
              <form
                method="POST"
                action="{{ url_for('deletar_inscricao', inscricao_id=entry.id) }}"
              >
                <button
                  type="submit"
                  class="btn btn-danger btn-sm"
                  onclick="return confirm('Tem certeza que deseja excluir?')"
                >
                  Excluir
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
