<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>5º CONCURSO DE VÍDEOS EDUCATIVOS DO SENAR</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <style>
      .form-control-file {
        border: 1px solid #dee2e6;
        border-radius: 5px;
      }

      .form-wrapper {
        width: 40%;
        max-width: 40%;
        margin: 0 auto;
        box-shadow: none;
        border-radius: 20px;
        background-color: #f1f3f4;
      }
      .form-group {
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
      }
      .form-check {
        width: 100%;
        padding-left: 3.5rem;
      }
      .btn-upload-video,
      .btn-upload-pdf {
        border: none;
        color: white;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
        width: 100%;
        border-radius: 0.25rem;
        transition: all 0.2s ease-in-out;
      }

      h4 {
        font-size: 20px;
        margin-left: 5px;
      }

      h2 {
        margin-top: 2rem;
      }

      .btn-upload-video {
        background-color: #28a745; /* Verde */
      }

      .btn-upload-video:hover,
      .btn-upload-video:focus {
        background-color: #218838;
        transform: scale(1.05);
      }

      @media (max-width: 768px) {
        body {
          padding: 2rem 0px;
          font-size: 14px;
        }
        .form-wrapper {
          width: 100%;
          max-width: 90%;
          margin: 0 auto;
          padding: 0;
          box-shadow: none;
          border-radius: 20px;
        }
        .form-group {
          padding-left: 1rem;
          padding-right: 1rem;
        }
        .form-check {
          width: 100%;
          padding-left: 2.5rem;
          padding-right: 2rem;
        }
        h2 {
          font-size: 20px;
          margin-left: 5px;
          margin-top: 1rem;
        }
        h4 {
          font-size: 16px;
          margin-left: 5px;
        }
        .pheader {
          margin-left: 5px;
        }
      }
      .btn-upload-pdf {
        background-color: #17a2b8; /* Azul-ciano */
      }

      .btn-upload-pdf:hover,
      .btn-upload-pdf:focus {
        background-color: #138496;
        transform: scale(1.05);
      }

      .logo-container img {
        width: 100%;
        margin-bottom: 0;
        border-radius: 20px 20px 0 0;
      }

      body {
        padding: 2rem 0px;
        font-size: 14px;
      }

      .form-group input[type="text"],
      .form-group input[type="url"],
      .form-group select,
      .form-group textarea {
        max-width: 100%; /* Garante que os elementos de formulário não excedam a largura da tela */
        box-sizing: border-box; /* Inclui padding e bordas na largura total */
      }

      .btn-primary {
        background-color: #28a745; /* Verde para chamativo */
        border-color: #218838;
        box-shadow: 0 3px 6px rgba(0, 200, 0, 0.4); /* Sombra com tom verde para efeito 3D */
        width: 100%;
        margin-top: 1rem;
        transition: all 0.3s ease-in-out;
      }

      .btn-primary:hover,
      .btn-primary:focus {
        background-color: #1e7e34;
        border-color: #1a682c;
        box-shadow: 0 5px 10px rgba(0, 150, 0, 0.6);
      }

      .btn-primary:active {
        background-color: #19692c; /* Mais escuro quando clicado */
        box-shadow: 0 2px 5px rgba(0, 150, 0, 0.4) inset; /* Sombra interna para efeito pressionado */
      }
    </style>
  </head>
  <body>
    <script>
      $(document).ready(function () {
        // Aplicando máscaras
        $("#cpf").mask("000.000.000-00", { reverse: true });
        $("#cep").mask("00000-000");
        $("#telefone").mask("(00) 00000-0000");

        // Validação do formulário
        $("form").validate({
          rules: {
            cpf: {
              required: true,
              cpfBR: true,
            },
            telefone: {
              required: true,
              phoneBR: true,
            },
          },
          messages: {
            cpf: {
              required: "Por favor, insira seu CPF",
              cpfBR: "Por favor, insira um CPF válido",
            },
            telefone: {
              required: "Por favor, insira seu telefone",
              phoneBR: "Por favor, insira um telefone válido",
            },
          },
        });

        fetch("https://servicodados.ibge.gov.br/api/v1/localidades/estados")
          .then((response) => response.json())
          .then((data) => {
            const estadoSelect = document.getElementById("estado");
            data.forEach((estado) => {
              const option = document.createElement("option");
              option.value = estado.sigla;
              option.textContent = estado.nome;
              estadoSelect.appendChild(option);
            });
          })
          .catch((error) => console.error("Erro ao carregar estados:", error));
      });
    </script>
    <div class="form-wrapper">
      <div class="logo-container">
        <img src="static/logo.png" alt="Logo Esquerda" class="logo-left" />
      </div>
      <div class="form-group">
        <h2>5º CONCURSO DE VÍDEOS EDUCATIVOS DO SENAR</h2>
        <p class="pheader">
          Agregar valor à cultura organizacional do Sistema CNA/SENAR/ICNA,
          transformando ideias em resultados.
        </p>
        <div class="title-block" style="margin-top: 2rem">
          <h4><i class="fas fa-user"></i> Informações do Participante</h4>
        </div>
      </div>
      <form action="/" method="POST" enctype="multipart/form-data" class="mt-4">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="nome"
            name="nome"
            placeholder="Nome"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="cpf"
            name="cpf"
            placeholder="CPF"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="E-mail"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="endereco"
            name="endereco"
            placeholder="Endereço"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="cep"
            name="cep"
            placeholder="CEP"
            required
          />
        </div>
        <div class="form-group">
          <select
            class="form-control"
            id="estado"
            name="estado"
            placeholder="Estado"
            required
          >
            <option value="" disabled selected>Selecione um estado</option>
          </select>
        </div>
        <div class="form-group">
          <select
            class="form-control"
            id="senarSelect"
            name="senarSelect"
            required
          >
            <option value="">Selecione uma unidade do Senar...</option>
            <option value="Senar Administração Central">
              Senar Administração Central
            </option>
            <option value="Senar Acre">Senar Acre</option>
            <option value="Senar Alagoas">Senar Alagoas</option>
            <option value="Senar Amapá">Senar Amapá</option>
            <option value="Senar Amazonas">Senar Amazonas</option>
            <option value="Senar Bahia">Senar Bahia</option>
            <option value="Senar Ceará">Senar Ceará</option>
            <option value="Senar Distrito Federal">
              Senar Distrito Federal
            </option>
            <option value="Senar Espírito Santo">Senar Espírito Santo</option>
            <option value="Senar Goiás">Senar Goiás</option>
            <option value="Senar Maranhão">Senar Maranhão</option>
            <option value="Senar Mato Grosso">Senar Mato Grosso</option>
            <option value="Senar Mato Grosso do Sul">
              Senar Mato Grosso do Sul
            </option>
            <option value="Senar Minas Gerais">Senar Minas Gerais</option>
            <option value="Senar Pará">Senar Pará</option>
            <option value="Senar Paraíba">Senar Paraíba</option>
            <option value="Senar Paraná">Senar Paraná</option>
            <option value="Senar Pernambuco">Senar Pernambuco</option>
            <option value="Senar Piauí">Senar Piauí</option>
            <option value="Senar Rio de Janeiro">Senar Rio de Janeiro</option>
            <option value="Senar Rio Grande do Norte">
              Senar Rio Grande do Norte
            </option>
            <option value="Senar Rio Grande do Sul">
              Senar Rio Grande do Sul
            </option>
            <option value="Senar Rondônia">Senar Rondônia</option>
            <option value="Senar Roraima">Senar Roraima</option>
            <option value="Senar Santa Catarina">Senar Santa Catarina</option>
            <option value="Senar São Paulo">Senar São Paulo</option>
            <option value="Senar Sergipe">Senar Sergipe</option>
            <option value="Senar Tocantins">Senar Tocantins</option>
          </select>
        </div>

        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="telefone"
            name="telefone"
            placeholder="Telefone"
            required
          />
        </div>
        <div class="form-group">
          <div
            class="title-block"
            style="margin-top: 2rem; margin-bottom: 1rem"
          >
            <h4><i class="fas fa-play"></i> Sobre o Vídeo</h4>
          </div>
        </div>
        <div class="form-group">
          <select
            class="form-control"
            id="referencia_video"
            name="referencia_video"
          >
            <option value="">Selecione uma referência de vídeo...</option>
            <option value="Formação Profissional Rural">
              Formação Profissional Rural
            </option>
            <option value="Promoção Social">Promoção Social</option>
            <option value="Assistência Técnica e Gerencial">
              Assistência Técnica e Gerencial
            </option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" id="formacao" name="formacao">
            <option value="">Selecione uma formação...</option>
            <option value="Sistema de Produção Agropecuário">
              Sistema de Produção Agropecuário
            </option>
            <option value="Saúde e Segurança no Trabalho Rural">
              Saúde e Segurança no Trabalho Rural
            </option>
            <option value="Meio Ambiente">Meio Ambiente</option>
            <option value="Agricultura Digital">Agricultura Digital</option>
          </select>
        </div>
        <div class="form-group">
          <select
            class="form-control"
            id="detalhesFormacao"
            name="detalhesFormacao"
            style="display: none"
          >
            <!-- As opções serão preenchidas dinamicamente via JavaScript -->
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" id="promocao" name="promocao">
            <option value="">Selecione uma promoção...</option>
            <option value="Cultura">Cultura</option>
            <option value="Organização Comunitária">
              Organização Comunitária
            </option>
            <option value="Saúde Preventiva">Saúde Preventiva</option>
            <option value="Artesanato">Artesanato</option>
            <option value="Esporte e Lazer">Esporte e Lazer</option>
            <option value="Apoio as Comunidades Rurais">
              Apoio as Comunidades Rurais
            </option>
            <option value="Alimentação e Nutrição">
              Alimentação e Nutrição
            </option>
            <option value="Educação">Educação</option>
          </select>
        </div>

        <div class="form-group">
          <select
            class="form-control"
            id="detalhesPromocao"
            name="detalhesPromocao"
            style="display: none"
          >
            <!-- As opções serão preenchidas dinamicamente via JavaScript -->
          </select>
        </div>

        <div class="form-group">
          <select class="form-control" id="assistencia" name="assistencia">
            <option value="">Selecione uma assistência...</option>
            <option value="Meio Ambiente">Meio Ambiente</option>
            <option value="Aumento da Produção">Aumento da Produção</option>
            <option value="Geração de renda e redução de Custos">
              Geração de renda e redução de Custos
            </option>
            <option value="Qualidade de Vida">Qualidade de Vida</option>
          </select>
        </div>

        <div class="form-group">
          <select
            class="form-control"
            id="detalhesAssistencia"
            name="detalhesAssistencia"
            style="display: none"
          >
            <!-- As opções serão preenchidas dinamicamente via JavaScript -->
          </select>
        </div>
        <div class="form-group">
          <label class="btn btn-upload-video">
            <i class="fas fa-upload"></i> Carregar Vídeo
            <span
              id="file-name"
              style="display: block; font-size: 0.8em; font-weight: 300"
            ></span>
            <input
              type="file"
              class="form-control-file"
              id="videoUpload"
              name="videoUpload"
              accept="video/*"
              required
              hidden
            />
          </label>
        </div>
        <div class="form-group">
          <label class="btn btn-upload-pdf">
            <i class="fas fa-file-pdf"></i> Termo de Autorização de
            Participantes
            <span
              id="pdf-file-name"
              style="display: block; font-size: 0.8em; font-weight: 300"
            ></span>
            <input
              type="file"
              class="form-control-file"
              id="pdfUpload"
              name="pdfUpload"
              accept="application/pdf"
              required
              hidden
            />
          </label>
        </div>

        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="acceptTerms"
            name="acceptTerms"
            required
          />
          <label class="form-check-label" for="acceptTerms">
            Eu aceito o
            <a href="javascript:void(0);" id="link-termo-de-uso">
              termo de autorização de uso e autorizo o uso do meu nome, imagem e
              voz.
            </a>
          </label>
        </div>

        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="acceptWhatsApp"
            name="acceptWhatsApp"
          />
          <label class="form-check-label" for="acceptWhatsApp">
            Autorizo o envio de mensagens via WhatsApp e outros meios de
            comunicação.
          </label>
        </div>

        <div class="form-group" style="padding-bottom: 2rem">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </div>

    <!-- Modal Termo de Uso -->
    <div id="termo-de-uso-modal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Termo de Autorização de Uso de Nome, Imagem e Voz
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <p>
                  O signatário deste documento autoriza, de forma expressa e gratuita, o uso permanente de seu nome, imagem e voz. Essa autorização é concedida para fins legais e admite a utilização desses elementos em diversas formas de mídia.
              </p>
              <p>
                  Nome, imagem e voz do autorizado podem ser utilizados em apresentações audiovisuais, publicações e outras divulgações, incluindo a exposição via internet, nos sites do Serviço Nacional de Aprendizagem Rural (SENAR) e da Confederação da Agricultura e Pecuária do Brasil (CNA).
              </p>
              <p>
                  O SENAR tem permissão para editar e montar fotos e filmagens conforme necessário, criar materiais de comunicação relacionados e conduzir reproduções, sempre respeitando os propósitos estabelecidos neste documento.
              </p>
              <p>
                  Por ser esta declaração uma expressão de vontade livre, o signatário não terá nada a reclamar ou reivindicar em relação aos direitos conexos ao seu nome, imagem e voz, ou quaisquer outros direitos.
              </p>
              <p>
                  Observação: Se outras pessoas aparecerem nos vídeos, também deverão fornecer autorização assinando um termo similar.
              </p>
          </div>
          
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Fechar
            </button>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const referenciaVideo = document.getElementById("referencia_video");
        const formacao = document.getElementById("formacao");
        const promocao = document.getElementById("promocao");
        const assistencia = document.getElementById("assistencia");

        // Função para limpar os selects
        function resetSelect(selectElement) {
          selectElement.selectedIndex = 0;
          const detalhesSelect = selectElement
            .closest(".form-group")
            .nextElementSibling.querySelector("select");
          if (detalhesSelect) {
            detalhesSelect.style.display = "none";
            detalhesSelect.innerHTML = ""; // Limpa as opções dos detalhes
          }
        }

        // Função para esconder todos os selects
        function hideAll() {
          formacao.closest(".form-group").style.display = "none";
          promocao.closest(".form-group").style.display = "none";
          assistencia.closest(".form-group").style.display = "none";
        }

        // Função para mostrar o select correto com base no valor selecionado
        function showField() {
          const value = referenciaVideo.value;
          hideAll();
          resetSelect(formacao);
          resetSelect(promocao);
          resetSelect(assistencia);
          if (value === "Formação Profissional Rural") {
            formacao.closest(".form-group").style.display = "block";
          } else if (value === "Promoção Social") {
            promocao.closest(".form-group").style.display = "block";
          } else if (value === "Assistência Técnica e Gerencial") {
            assistencia.closest(".form-group").style.display = "block";
          }
        }

        // Esconder todos os selects inicialmente
        hideAll();

        // Adicionar evento de mudança para referência de vídeo
        referenciaVideo.addEventListener("change", showField);

        // Adicionar eventos de mudança para limpar os selects subsequentes
        formacao.addEventListener("change", function () {
          resetSelect(promocao);
          resetSelect(assistencia);
        });

        promocao.addEventListener("change", function () {
          resetSelect(assistencia);
        });

        // Abrir e fechar modal
        var modal = document.getElementById("termo-de-uso-modal");
        var linkTermo = document.getElementById("link-termo-de-uso");
        var span = document.getElementsByClassName("close")[0];

        linkTermo.onclick = function () {
          $(modal).modal("show");
        };

        span.onclick = function () {
          $(modal).modal("hide");
        };

        window.onclick = function (event) {
          if (event.target == modal) {
            $(modal).modal("hide");
          }
        };
      });

      document
        .getElementById("assistencia")
        .addEventListener("change", function () {
          var assistencia = this.value;
          var detalhesSelect = document.getElementById("detalhesAssistencia");
          var options = "";

          if (assistencia === "Meio Ambiente") {
            options = `
                <option value="Práticas de conservação do solo e/ou da água">Práticas de conservação do solo e/ou da água</option>
                <option value="Práticas ABC">Práticas ABC</option>
                <option value="Proteção de nascentes">Proteção de nascentes</option>`;
          } else if (assistencia === "Aumento da Produção") {
            options = `
                <option value="Produzir mais com os recursos disponíveis / Eficiência no uso dos recursos">Produzir mais com os recursos disponíveis / Eficiência no uso dos recursos</option>
                <option value="Diluição do custo fixo com aumento de escala">Diluição do custo fixo com aumento de escala</option>
                <option value="Técnicas e tecnologias que melhoram a eficiência e aumentam a produção">Técnicas e tecnologias que melhoram a eficiência e aumentam a produção</option>
                <option value="Eficiência da mão de obra no aumento da produção">Eficiência da mão de obra no aumento da produção</option>`;
          } else if (assistencia === "Geração de renda e redução de Custos") {
            options = `
                <option value="Redução de custos com insumos">Redução de custos com insumos</option>
                <option value="Redução de custos no manejo animal / vegetal">Redução de custos no manejo animal / vegetal</option>
                <option value="Agregação de valor em produtos agropecuários">Agregação de valor em produtos agropecuários</option>`;
          } else if (
            assistencia === "Produzindo alimento com respeito ao meio ambiente"
          ) {
            options = `
                <option value="Práticas de conservação do solo e da água">Práticas de conservação do solo e da água</option>
                <option value="Sistemas de produção agroecológicos">Sistemas de produção agroecológicos</option>
                <option value="Uso racional de defensivos agrícolas">Uso racional de defensivos agrícolas</option>`;
          } else if (assistencia === "Qualidade de Vida") {
            options = `
                <option value="Automatização, praticidade ou facilidade para melhorar o processo produtivo">Automatização, praticidade ou facilidade para melhorar o processo produtivo</option>
                <option value="Segurança física, proteção e Ergonomia">Segurança física, proteção e Ergonomia</option>
                <option value="Sucessão familiar e envolvimento da família">Sucessão familiar e envolvimento da família</option>`;
          } else {
            // Se não houver seleção válida, esconder o select de detalhes
            detalhesSelect.style.display = "none";
            return;
          }

          // Atualizar as opções do select de detalhes e mostrá-lo
          detalhesSelect.innerHTML = options;
          detalhesSelect.style.display = "block";
        });

      document
        .getElementById("promocao")
        .addEventListener("change", function () {
          var promocao = this.value;
          var detalhesSelect = document.getElementById("detalhesPromocao");
          var options = "";

          if (promocao === "Alimentação e Nutrição") {
            options = `
                <option value="Produção de alimentos">Produção de alimentos</option>
                <option value="Aproveitamento integral de alimentos">Aproveitamento integral de alimentos</option>
                <option value="Ações que estimulem a alimentação saudável">Ações que estimulem a alimentação saudável</option>
                <option value="Ações de educação em saúde para alimentação saudável relacionadas a doenças crônicas">Ações de educação em saúde para alimentação saudável relacionadas a doenças crônicas</option>`;
          } else if (promocao === "Cultura") {
            options = `
                <option value="Tradições culturais">Tradições culturais</option>
                <option value="Culinárias regionais">Culinárias regionais</option>`;
          } else if (promocao === "Organização Comunitária") {
            options = `
                <option value="Associativismo">Associativismo</option>
                <option value="Cooperativismo">Cooperativismo</option>`;
          } else if (promocao === "Saúde Preventiva") {
            options = `
                <option value="Promoção à saúde">Promoção à saúde</option>
                <option value="Prevenção de doenças">Prevenção de doenças</option>
                <option value="Qualidade de vida">Qualidade de vida</option>
                <option value="Autocuidado">Autocuidado</option>
                <option value="Hábitos saudáveis">Hábitos saudáveis</option>`;
          } else if (promocao === "Artesanato") {
            options = `
                <option value="Biojoias">Biojoias</option>
                <option value="Matéria-prima regional">Matéria-prima regional</option>`;
          } else if (promocao === "Esporte e Lazer") {
            options = `
                <option value="Atividades que estimulam o desenvolvimento físico e psíquico">Atividades que estimulam o desenvolvimento físico e psíquico</option>`;
          } else if (promocao === "Apoio as Comunidades Rurais") {
            options = `
                <option value="Cidadania rural">Cidadania rural</option>`;
          } else if (promocao === "Educação") {
            options = `
                <option value="Educação de Jovens e Adultos">Educação de Jovens e Adultos</option>
                <option value="Educação ambiental">Educação ambiental</option>
                <option value="Educação financeira">Educação financeira</option>
                <option value="Sucessão Rural">Sucessão Rural</option>`;
          } else {
            // Se não houver seleção válida, esconder o select de detalhes
            detalhesSelect.style.display = "none";
            return;
          }

          // Atualizar as opções do select de detalhes e mostrá-lo
          detalhesSelect.innerHTML = options;
          detalhesSelect.style.display = "block";
        });

      document
        .getElementById("formacao")
        .addEventListener("change", function () {
          var formacao = this.value;
          var detalhesSelect = document.getElementById("detalhesFormacao");
          var options = "";

          if (formacao === "Sistema de Produção Agropecuário") {
            options = `
                <option value="Produção vegetal">Produção vegetal</option>
                <option value="Produção animal">Produção animal</option>
                <option value="Produção orgânica">Produção orgânica</option>
                <option value="Boas práticas agropecuárias">Boas práticas agropecuárias</option>
                <option value="Manejo sanitário">Manejo sanitário</option>`;
          } else if (formacao === "Meio Ambiente") {
            options = `
                <option value="Baixa emissão de carbono">Baixa emissão de carbono</option>
                <option value="Bioeconomia">Bioeconomia</option>
                <option value="Bioinsumos">Bioinsumos</option>
                <option value="Agricultura e pecuária regenerativa">Agricultura e pecuária regenerativa</option>
                <option value="Técnicas de retenção e infiltração de água no solo">Técnicas de retenção e infiltração de água no solo</option>
                <option value="Compostagem e enriquecimento de dejetos animais">Compostagem e enriquecimento de dejetos animais</option>`;
          } else if (formacao === "Agricultura Digital") {
            options = `
                <option value="Agricultura e pecuária de precisão">Agricultura e pecuária de precisão</option>
                <option value="Tecnologias em máquinas agrícolas">Tecnologias em máquinas agrícolas</option>
                <option value="Drones">Drones</option>
                <option value="Geotecnologias">Geotecnologias</option>
                <option value="Inteligência artificial">Inteligência artificial</option>`;
          } else if (formacao === "Saúde e Segurança no Trabalho Rural") {
            options = `
                <option value="Ergonomia">Ergonomia</option>
                <option value="Equipamentos de proteção individual (EPI) no trabalho rural">Equipamentos de proteção individual (EPI) no trabalho rural</option>
                <option value="Uso correto e seguro de defensivos agrícolas">Uso correto e seguro de defensivos agrícolas</option>
                <option value="Segurança no trabalho em máquinas, equipamentos e implementos">Segurança no trabalho em máquinas, equipamentos e implementos</option>
                <option value="Normativa NR-31">Normativa NR-31</option>`;
          } else {
            // Se não houver seleção válida, esconder o select de detalhes
            detalhesSelect.style.display = "none";
            return;
          }

          // Atualizar as opções do select de detalhes e mostrá-lo
          detalhesSelect.innerHTML = options;
          detalhesSelect.style.display = "block";
        });

      document.addEventListener("DOMContentLoaded", function () {
        const referenciaVideo = document.getElementById("referencia_video");
        const formacao = document
          .getElementById("formacao")
          .closest(".form-group");
        const promocao = document
          .getElementById("promocao")
          .closest(".form-group");
        const assistencia = document
          .getElementById("assistencia")
          .closest(".form-group");

        function hideAll() {
          formacao.style.display = "none";
          promocao.style.display = "none";
          assistencia.style.display = "none";
        }

        function showField() {
          const value = referenciaVideo.value;
          hideAll();
          if (value === "Formação Profissional Rural") {
            formacao.style.display = "block";
          } else if (value === "Promoção Social") {
            promocao.style.display = "block";
          } else if (value === "Assistência Técnica e Gerencial") {
            assistencia.style.display = "block";
          }
        }

        hideAll();

        referenciaVideo.addEventListener("change", showField);

        // Abrir e fechar modal
        var modal = document.getElementById("termo-de-uso-modal");
        var linkTermo = document.getElementById("link-termo-de-uso");
        var span = document.getElementsByClassName("close")[0];

        linkTermo.onclick = function () {
          $(modal).modal("show");
        };

        span.onclick = function () {
          $(modal).modal("hide");
        };

        window.onclick = function (event) {
          if (event.target == modal) {
            $(modal).modal("hide");
          }
        };
      });
      document
        .getElementById("pdfUpload")
        .addEventListener("change", function (event) {
          const file = event.target.files[0];
          if (!file) {
            document.getElementById("pdf-file-name").textContent = "";
            return;
          }
          const fileName = file.name;
          const truncatedFileName =
            fileName.length > 20 ? fileName.substring(0, 17) + "..." : fileName;
          document.getElementById("pdf-file-name").textContent =
            truncatedFileName;
        });

      document
        .getElementById("videoUpload")
        .addEventListener("change", function (event) {
          const file = event.target.files[0];
          if (!file) {
            document.getElementById("file-name").textContent = "";
            return;
          }
          const fileName = file.name;
          const truncatedFileName =
            fileName.length > 20 ? fileName.substring(0, 17) + "..." : fileName;
          document.getElementById("file-name").textContent = truncatedFileName;
          const reader = new FileReader();
          reader.onloadstart = function (e) {
            document.getElementById("uploadProgress").value = 0;
          };
          reader.onprogress = function (e) {
            if (e.lengthComputable) {
              const percentComplete = parseInt((e.loaded / e.total) * 100);
              document.getElementById("uploadProgress").value = percentComplete;
            }
          };
          reader.onloadend = function (e) {
            document.getElementById("uploadProgress").value = 100;
          };
          reader.readAsDataURL(file);
        });
      document.querySelector("form").addEventListener("submit", function (e) {
        e.preventDefault(); // Impede o envio do formulário
        var form = this;
        var formData = new FormData(form);

        // Verificar se todos os campos requeridos estão preenchidos
        var allFilled = true;
        form.querySelectorAll("[required]").forEach(function (element) {
          if (!element.value) {
            allFilled = false;
          }
        });

        if (!allFilled) {
          Swal.fire({
            icon: "error",
            title: "Erro ao enviar",
            text: "Por favor, preencha todos os campos obrigatórios.",
            confirmButtonColor: "#dc3545",
            confirmButtonText: "OK",
          });
        } else {
          // Processo de envio do formulário se todos os campos estiverem preenchidos
          Swal.fire({
            title: "Enviando...",
            text: "Por favor, aguarde enquanto os dados estão sendo enviados.",
            allowOutsideClick: false,
            didOpen: () => {
              Swal.showLoading();
            },
          });

          fetch("/", {
            method: "POST",
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              Swal.close();
              if (data.message) {
                Swal.fire(
                  "Sucesso!",
                  data.message, // Mostra a mensagem de sucesso do servidor
                  "success"
                ).then((result) => {
                  if (result.isConfirmed) {
                    form.reset(); // Reseta o formulário após sucesso
                  }
                });
              } else {
                Swal.fire(
                  "Erro!",
                  data.error ||
                    "Houve um erro ao enviar o formulário. Tente novamente!",
                  "error"
                );
              }
            })
            .catch((error) => {
              Swal.close();
              console.error("Error:", error);
              Swal.fire(
                "Erro!",
                "Houve um problema com a rede ou o servidor. Tente novamente!",
                "error"
              );
            });
        }
      });
    </script>
  </body>
</html>
